body{
    background-color: dimgray;
    font-family: sans-serif;
    margin: 0;
}
/*both start*/
.content{
    width: 900px;
    margin: auto;
   /* background-color: aqua; /*removes after*/
    display: flex;

}
h3{
    font-size: 19px;
}

.hyperlink{
    text-decoration: underline;
    color: white;;
}
/*both end*/
/*Summay start*/
.summary{
    background-color:rgb(0, 75, 6) ;
    color: whitesmoke;
    width: 225px;
    display: block;
    padding: 2em;
}

.pfp{
    border-radius: 100%;
    width: 160px;
    margin: 25px auto;
    display: block;
}

.summary h2, .summary h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

/*summary end*/
/*description start*/
.description{
    background-color: rgb(244, 255, 243);
    width:675px;
    display: block;
    padding: 50px;
    color: rgb(0, 22, 68);
}

.descr_h2{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    width: 100%;
}

h3 span{
    font-size: 12px;
    display: block;
    
}

/*Description end*/


/*Easter eggs*/
.pfp{
    transition: transform 1s; /* For smooth transition */
}
.pfp:hover{
    transform: rotate(360deg); /* Apply the rotation on hover */
}
