body{
    background-color: dimgray;
    font-family: sans-serif;
    margin: 0;
}
/*both start*/
.content{
    width: 900px;
    margin: auto;
   /* background-color: aqua; /*removes after*/
    display: flex;

}
h3{
    font-size: 19px;
}

.hyperlink{
    text-decoration: underline;
    color: white;;
}
/*both end*/
/*Summay start*/
.summary{
    background-color:rgb(0, 75, 6) ;
    color: whitesmoke;
    width: 225px;
    display: block;
    padding: 2em;
}

.pfp{
    border-radius: 100%;
    width: 160px;
    margin: 25px auto;
    display: block;
}

.summary h2, .summary h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

/*summary end*/
/*description start*/
.description{
    background-color: rgb(245, 250, 245);
    width:675px;
    display: block;
    padding: 50px;
    color: rgb(0, 22, 68);
}

h1{
    text-align: center;
    font-size: 5em;
    font-family: 'Sacramento', sans-serif;
    animation: h1SlideIn 2s ease-in-out;
    
}
/** Mozilla Firefox */
@-moz-document url-prefix() {
    h1{
        letter-spacing: -1.5px;
    }
}

.descr_h2{
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    width: 100%;
}

h3 span{
    font-size: 12px;
    display: block;
    
}

hr{
    border:dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 10px;
    width: 100px;
    color: lightgray;
}

.descrAnim {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.descrAnim.animate {
    animation: slideUpDown 1s ease-in-out forwards;
}

.extra-content a{
    display: block;
    margin-top: 7px;
}

/*toggle button*/
.hidden {
    display: none;
}

.expandable-section {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
/*Description end*/
/*other*/
@font-face {
    font-family: 'Sacramento';
    src: url("./fonts/Sacramento.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes h1SlideIn {
    0% {
        transform: translateX(-100%) skewX(-30deg);
        opacity: 0;
    }
    50% {
        transform: translateX(10%) skewX(-10deg);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0) skewX(0);
        opacity: 1;
    }
}

@keyframes slideUpDown {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.contentAnim {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.contentAnim.animate {
    animation: slideUpDown 1s ease-in-out forwards;
}


/*other ends*/
/*Easter eggs*/
.pfp{
    transition: transform 1s; /* For smooth transition */
}
.pfp:hover{
    transform: rotate(360deg); /* Apply the rotation on hover */
}
/*Easter egg ends*/